<form class="card-body newCommentForm">
    <label class="form-label" for="post-body">Comment</label>
    <textarea name="post-body" class="form-input" id="postComment"></textarea>
    <button type="submit" class="btn">Create Comment</button>
</form>